<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      html, body {
        background-color: lightblue;
        height: 100%;
      }
      .container {
        background-color: white;
        min-height: 90%;
        padding: 0;
      }
      .navbar a {
        color: white;
        font-size: 20px;
      }
      #search-form {
        margin-top: 50px;
      }
      .results {
        margin-top: 80px;
        padding: 10px;
        border-top: 1px solid;
        //min-height: 370px;
      }
      .results-list {
        overflow: scroll;
      }
      .footer {
        height: 10%;
        background-color: darkblue;
      }
      .footer p {
        color: white;
      }
    </style>

    <title>Rails demo</title>
  </head>
  <body>
    <div class="container" style="">
      <center><h2>Search vietamese name</h2></center>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <%= link_to "Home", controller: "website", action: "index" %>
      </nav>
      <div id="search-form">
        <%= form_tag("/search/search", method: "get") do %>
          <%= label_tag(:q, "Search by:") %>
          <%= select_tag(:name_type, options_for_select({"First name": 1, "Middle name": 2, "Last Name": 3}, "1")) %>
          <%= text_field_tag(:q, nil, placeholder: 'nham, ニャム', size: 50) %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>

      <div class="results">
        <% if @results && @results[:search_key].present? %>
          <h3>Results for: <%= @results[:search_key] %></h3>
          <div class="result-list">
            <% @results[:by_kanji].each do |result| %>
              <p><%= result.by_kanji %></p>
            <% end %>
            <% @results[:by_romaji].each do |result| %>
              <p><%= result.by_romaji %></p>
            <% end %>
            <% @results[:by_katakana].each do |result| %>
              <p><%= result.by_katakana %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="footer">
      <center>
        <p>
          "Page built for"
          <a href="http://rubyonrails.org/">Ruby on Rails</a>
        </p>
      </center>
    </div>

    <!-- Optional JavaScript -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
