<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Demo app</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      html, body {
        background-color: lightblue;
        height: 100%;
      }
      .container {
        background-color: white;
        min-height: 90%;
        padding: 0;
      }
      .navbar a {
        color: white;
        font-size: 20px;
        margin-left: 10px;
      }
      #search-form {
        margin-top: 50px;
      }
      #generate-form {
        margin-top: 50px;
        margin-left: 10px;
      }
      #generate-form input[type=submit] {
        color: red;
        font-size: 20px;
      }
      .results {
        margin-top: 80px;
        padding: 10px;
        border-top: 1px solid;
      }
      .results-list {
        overflow: scroll;
      }
      .footer {
        height: 10%;
        background-color: darkblue;
      }
      .footer p {
        color: white;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <%= link_to "Home", root_path %>
        <%= link_to "NameGenerate", controller: 'search', action: 'name_generate' %>
      </nav>
      <%= yield %>
    </div>
    <div class="footer">
      <center>
        <p>
          "Page built for"
          <a href="http://rubyonrails.org/">Ruby on Rails</a>
        </p>
      </center>
    </div>
  </body>
</html>
